@keyframes banana{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(4px);
  }
  100%{
    transform: translateY(0);
  }
}
body{
  background-color: 
  rgb(248, 255, 143);
  font-size: 100%;
  list-style-type: none;
}
h1{
  background-color: rgb(255, 255, 183);
  color: firebrick;
  font-family: cursive;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img{
  width: 40px;
  height: 40px;
  position: absolute;
}
.banana-imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.entradas{
  background-color: rgb(255, 224, 86);
  border: 2px solid rgb(131, 85, 0);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#peso{
  border-radius: 5px;
  border: 2px solid rgb(145, 99, 0);
  background-color: rgb(255, 239, 150);
}
#idade{
  border: 2px solid rgb(145, 99, 0);
  border-radius: 5px;
  background-color: rgb(255, 239, 150);
}
button{
  color: white;
  background-color: orange;
  border-radius: 5px;
  border: 2px solid rgb(145, 99, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh; /* Ajuste a altura conforme necessário */
}

.item {
  margin-bottom: 10px; /* Espaçamento entre os itens */
}
form {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100px;
}

button {
  padding: 5px 10px;
}

.banana-imagem{
  animation: banana 1s infinite;
}

#resultado{
  font-family: Arial, Helvetica, sans-serif ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 13vh;
}